@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Space+Grotesk:wght@300..700&display=swap');

:root {
    /*========== Colors ==========*/
    --white-color: hsl(0, 0%, 100%);
    --primary-color: #13425E;

    /*========== Font weight ==========*/
    --font-regular: 400;
    --font-medium: 500;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    width: 100%;
    font-family: Inter;
    background-color: #ffffff;
}

header{
    position: absolute;
    padding: 0px 40px;
    width: 100%;
    top: 0;
    left: 0;
    background-color: transparent;
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;
}
.scroll-header {
    background-color: #13425E;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    animation: slideFromTop 0.5s linear;
    border-bottom: none;
}
.scroll-navbar{
    border-bottom: none;
}
nav{
    position: relative;
    width: 90%;
    height: max-content;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10px 10px 10px;
    border-bottom: 2px solid #ffffff10;
}
.nav-logo img{
    width: 100px;
    height: 80px;
}
.nav-menu{
    display: flex;
    flex-direction: column;
    align-items: end;
}
.nav-button{
    display: flex;
    flex-direction: row;
    gap: 10px;
}
.btn-delivery{
    width: 209px;
    display: flex;
    align-items: center;
    gap: 8px; /* Jarak antara ikon dan teks */
    background: transparent;
    border: 3px solid white;
    color: white;
    padding: 10px 15px;
    font-size: .9rem;
    cursor: pointer;
    transition: all 0.3s ease;
}
.btn-message{
    width: 173px;
    display: flex;
    align-items: center;
    gap: 8px; /* Jarak antara ikon dan teks */
    background: transparent;
    border: 3px solid white;
    color: white;
    padding: 10px 5px;
    font-size: .9rem;
    cursor: pointer;
    transition: all 0.3s ease;
}
.btn-message img{
    width: 17px; /* Sesuaikan ukuran ikon */
    height: 17px;
}
.btn-delivery img{
    width: 27px; /* Sesuaikan ukuran ikon */
    height: 16px;
}
.btn-translate{
    width: 42px;
    height: 42px;
    background: transparent;
    border: none;
    color: white;
    padding: 10px;
    font-size: .9rem;
    cursor: pointer;
    transition: all 0.3s ease;
}
.btn-translate.active{
    border: 3px solid white;
}
.nav-list{
    margin-top: 20px;
}
.nav-list ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    color: #fff;
    gap: 50px;
}
.nav-list ul li a{
    text-decoration: none;
    color: white;
    font-weight: bold;
}
.nav-list ul li a{
    text-decoration: none;
    color: white;
    font-weight: bold;
    
}
.nav-list ul li a:hover{
    color: white;
    font-weight: bold;
}
.nav-link span{
    position: relative;
    transition: margin .4s; 
    
}
.nav-link span::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: -12px;
    width: 0%;
    height: 3px;
    opacity: 0;
    background-color: white;
    transition: width .4s ease-out;
}
.nav-link:hover span::after{
    width: 100%;
    opacity: 1;
    transition: width .4s ease-out;
}
@media (min-width: 300px) and (max-width: 600px)     {
    header{
        padding: 0px 10px;
    }
    nav{
        padding: 10px 10px 5px 10px;
        border-bottom: 2px solid #ffffff10;
    }
    .nav-logo img{
        width: 42px;
        height: 31px;
    }
    .btn-delivery{
        width: 73px;
        display: flex;
        align-items: center;
        gap: 8px; /* Jarak antara ikon dan teks */
        background: transparent;
        border: 1px solid white;
        color: white;
        padding: 1px;
        font-size: .3rem;
        cursor: pointer;
        transition: all 0.3s ease;
    }
    .btn-message{
        width: 53px;
        display: flex;
        align-items: center;
        gap: 2px; /* Jarak antara ikon dan teks */
        background: transparent;
        border: 1px solid white;
        color: white;
        padding: 1px;
        font-size: .3rem;
        cursor: pointer;
        transition: all 0.3s ease;
    }
    .btn-message img{
        width: 7px; /* Sesuaikan ukuran ikon */
        height: 7px;
    }
    .btn-delivery img{
        width: 12px; /* Sesuaikan ukuran ikon */
        height: 6px;
    }
    .btn-translate{
        width: 12px;
        height: 12px;
        background: transparent;
        border: none;
        color: white;
        padding: 2px;
        font-size: .4rem;
        cursor: pointer;
        transition: all 0.3s ease;
    }
    .btn-translate.active{
        border: 1px solid white;
    }
    .nav-list ul{
        gap: 10px;
    }
    .nav-list{
        height: 20px;
        margin-top: 5px;
    }
    .nav-list ul li a:hover{
        color: white;
        font-weight: bold;
    }
    .nav-link span{
        position: relative;
        transition: margin .4s; 
        font-size: .5rem;;
    }
}
@media (min-width: 600px) and (max-width: 1030px)     {
    header{
        padding: 0px 10px;
    }
    nav{
        padding: 10px 10px 5px 10px;
        border-bottom: 2px solid #ffffff10;
    }
    .nav-logo img{
        width: 42px;
        height: 31px;
    }
    .btn-delivery{
        width: 73px;
        display: flex;
        align-items: center;
        gap: 8px; /* Jarak antara ikon dan teks */
        background: transparent;
        border: 1px solid white;
        color: white;
        padding: 1px;
        font-size: .3rem;
        cursor: pointer;
        transition: all 0.3s ease;
    }
    .btn-message{
        width: 53px;
        display: flex;
        align-items: center;
        gap: 2px; /* Jarak antara ikon dan teks */
        background: transparent;
        border: 1px solid white;
        color: white;
        padding: 1px;
        font-size: .3rem;
        cursor: pointer;
        transition: all 0.3s ease;
    }
    .btn-message img{
        width: 7px; /* Sesuaikan ukuran ikon */
        height: 7px;
    }
    .btn-delivery img{
        width: 12px; /* Sesuaikan ukuran ikon */
        height: 6px;
    }
    .btn-translate{
        width: 12px;
        height: 12px;
        background: transparent;
        border: none;
        color: white;
        padding: 2px;
        font-size: .4rem;
        cursor: pointer;
        transition: all 0.3s ease;
    }
    .btn-translate.active{
        border: 1px solid white;
    }
    .nav-list ul{
        gap: 10px;
    }
    .nav-list{
        height: 20px;
        margin-top: 5px;
    }
    .nav-list ul li a:hover{
        color: white;
        font-weight: bold;
    }
    .nav-link span{
        position: relative;
        transition: margin .4s; 
        font-size: .5rem;;
    }
}
footer {
    background-color: #1f4b6a;
    color: white;
    padding: 0rem;
    height: 300px;
}

.footer-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    align-items: flex-start;
    max-width: 1400px;
    margin: 0 4rem;
    gap: 70px;
}
@media (min-width: 600px) and (max-width: 700px){
    .footer-content {
        max-width: max-content;
        margin: 0 1rem;
        gap: 80px;
    }
}
@media (min-width: 701px) and (max-width: 800px){
    .footer-content {
        max-width: max-content;
        margin: 0 1rem;
        gap: 90px;
    }
}
@media (min-width: 801px) and (max-width: 900px){
    .footer-content {
        max-width: max-content;
        margin: 0 1rem;
        gap: 90px;
    }
}
@media (min-width: 1030px) and (max-width: 1120px){
    .footer-content {
        gap: 40px;
    }
}

/* FOOTER SECTION */
.footer-section {
    padding-top: 2rem;
    flex: 1;
    min-width: 100px;
    max-width: 200px;
}

.footer-section img {
    width: 150px;
    height: auto;
    margin-bottom: 1rem;
}

.footer-section h3 {
    margin-bottom: 1rem;
    position: relative;
}

.footer-section h3::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -5px;
    background-color: white;
    height: 3px;
    width: 50px;
    border-radius: 10px;
}

.footer-section ul {
    padding: 0;
}

.footer-section ul li {
    margin-bottom: 0.5rem;
}

.footer-section a {
    color: #cfd8dc;
    text-decoration: none;
}

.footer-section a:hover {
    text-decoration: underline;
}

/* FOOTER RIGHT CONTAINER */
.footer-right-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #446479;
    padding-top: 1rem;
    height: 300px;
    width: 254px;
    position: absolute;
    right: 8%;
}

/* FOOTER RIGHT */
.footer-right {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    text-align: center;
}

.footer-right img {
    width: 120px;
    height: auto;
}

.footer-right-text {
    margin-top: 1rem;
}
.social-links {
    margin-top: 2.5rem;
    display: flex;
    justify-content: center;
    gap: 40px;
    width: 100%;
    padding: 1rem;
}

.social-links a {
    color: white;
    font-size: 1.5rem;
    transition: color 0.3s;
}

.social-links a:hover {
    color: #cfd8dc;
}

/* FOOTER BOTTOM */
.footer-bottom {
    margin-top: 5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
}

.footer-bottom p {
    margin: 0;
    flex: 1;
    text-align: left;
    background-color: #1f4b6a; /* Warna asli footer */
    padding-left: 2rem;
}


@media (min-width: 300px) and (max-width: 599px){
    footer {
        padding: 0rem;
        height: 100px;
        width: 100%;
    }
    
    .footer-content {
        max-width: max-content;
        margin: 0 1rem;
        gap: 10px;
    }
    
    
    /* FOOTER SECTION */
    .footer-section {
        padding-top: 1rem;
        flex: 1;
        min-width: 70px;
    }
    
    .footer-section img {
        width: 50px;
        height: auto;
        margin-bottom: 1rem;
    }
    
    .footer-section h3 {
        font-size: .5rem;
        margin-bottom: .5rem;
        position: relative;
    }
    
    .footer-section h3::after {
        bottom: -5px;
        height: 1px;
        width: 20px;
    }
    
    .footer-section ul {
        padding: 0;
    }
    
    .footer-section ul li {
        font-size: .35rem;
        margin-bottom: 0.1rem;
    }
    
    
    /* FOOTER RIGHT CONTAINER */
    .footer-right-container {
        padding-top: 1rem;
        height: 100px;
        width: 90px;
        right: 8%;
    }
    
    .footer-right-container img {
        width: 30px;
        height: auto;
    }
    
    .footer-right-text {
        display: flex;
        flex-direction: column;
        gap: 3px;
        margin-top: .5rem;
        font-size: .3rem;
    }
    .social-links {
        margin-top: .8rem;
        gap: 10px;
        padding: .2rem;
    }
    
    .social-links a {
        font-size: .5rem;
    }
    
    .social-links a:hover {
        color: #cfd8dc;
    }
    
    /* FOOTER BOTTOM */
    .footer-bottom {
        margin-top: 0rem;;
        padding: 0rem;
        border-top: 1px solid rgba(255, 255, 255, 0.2);
    }
    
    .footer-bottom p {
        font-size: .35rem;
        margin: 0;
        padding-left: 2rem;
    }
}
@media (min-width: 600px) and (max-width: 1030px){
    footer {
        padding: 0rem;
        height: 130px;
        width: 100%;
    }   
    /* FOOTER SECTION */
    .footer-section {
        padding-top: 1rem;
        flex: 1;
        min-width: 70px;
    }
    .footer-content {
        max-width: max-content;
        margin: 0 1rem;
    }
    .footer-section img {
        width: 100px;
        height: auto;
        margin-bottom: 1rem;
    }
    
    .footer-section h3 {
        font-size: .8rem;
        margin-bottom: .8rem;
        position: relative;
    }
    
    .footer-section h3::after {
        bottom: -5px;
        height: 1px;
        width: 40px;
    }
    
    .footer-section ul {
        padding: 0;
    }
    
    .footer-section ul li {
        font-size: .5rem;
        margin-bottom: 0.4rem;
    }
    
    
    /* FOOTER RIGHT CONTAINER */
    .footer-right-container {
        padding-top: 1rem;
        height: 130px;
        width: 110px;
        right: 8%;
    }
    
    .footer-right-container img {
        width: 50px;
        height: auto;
    }
    
    .footer-right-text {
        display: flex;
        flex-direction: column;
        gap: 3px;
        margin-top: .5rem;
        font-size: .5rem;
    }
    .social-links {
        margin-top: .8rem;
        gap: 10px;
        padding: .2rem;
    }
    
    .social-links a {
        font-size: .8rem;
    }
    
    .social-links a:hover {
        color: #cfd8dc;
    }
    
    /* FOOTER BOTTOM */
    .footer-bottom {
        margin-top: 0rem;;
        padding: .3rem;
        border-top: 1px solid rgba(255, 255, 255, 0.2);
    }
    
    .footer-bottom p {
        font-size: .5rem;
        margin: 0;
        padding-left: 2rem;
    }
}